@font-face {
	font-family: 'UnGraphic';
	src:url('UnGraphic.woff2') format('woff2'),
		url('UnGraphic.woff') format('woff'),
		url('UnGraphic.ttf')  format('truetype');
}

@font-face {
	font-family: 'UnGraphicBold';
	src:url('UnGraphicBold.woff2') format('woff2'),
		url('UnGraphicBold.woff') format('woff'),
		url('UnGraphicBold.ttf')  format('truetype');
}

html,body{
	margin:0;
}

.logo1{
	position:absolute;
	width:25.6vw;
	height:24.208155339805825242718446601942vw;
	background-size: 100% 100%;
	background-image: url(logo.png);
	right:8vw;
}

.header1aTexta{
	position:absolute;
	font-family: UnGraphicBold;
	top:2vw;
	font-size:8vw;
	left:10vw;
}

.header1aTextb{
	position:absolute;
	font-family: UnGraphic;
	top:10.5vw;
	font-size:2vw;
	left:11vw;
}

.header1a{
	background: #fff520;
	width:100%;
	height:15vw;
}

.header1b{
	background: #6b20ac;
	width:100%;
	height:15vw;
}

.header1bText{
	position:absolute;
	font-family:UnGraphicBold;
	font-size: 2.5vw;
	margin-top:4.25vw;
	left:10vw;
	color:#fff;
	
}

.header2{
	width:50%;
	height:30vw;
	float:left;
	background:#2e2c2c;
}

.header2Texta{
	position:absolute;
	font-family: UnGraphicBold;
	text-align:right;
	font-size:3.5vw;
	color:#fff;
	margin-top:5vw;
	right:59.5vw;
}

.header2Textb{
	position:absolute;
	font-family: UnGraphic;
	text-align:right;
	font-size:1.5vw;
	color:#fff;
	margin-top:18vw;
	right:59.5vw;
}

.header3{
	width:100%;
	height:22vw;
	background:#ad1457;
}

.header3Texta{
	position:absolute;
	color:#fff;
	border-right:1px solid #fff;
	font-size:5vw;
	margin-top:7.5vw;
	right:53vw;
	height:7vw;
	font-family: UnGraphicBold;
}

.header3Textb{
	position:absolute;
	color:#fff;
	font-size:1.5vw;
	margin-top:8.5vw;
	left:49vw;
	font-family: UnGraphic;
}

.header4{
	width:100%;
	height:22vw;
	background:#fff520;	
}

.header4Texta{
	position:absolute;
	color:#000;
	font-size:3vw;
	margin-top:2.25vw;
	text-align:right;
	right:25vw;
	font-family: UnGraphicBold;
}

.header4Textb{
	position:absolute;
	color:#000;
	font-size:1.5vw;
	margin-top:14.5vw;
	text-align:right;
	right:25vw;
	font-family: UnGraphic;
}

.logo2{
	position:absolute;
	width:18vw;
	height:18.9928vw;
	background-size: 100% 100%;
	background-image: url(logo2.png);
	margin-top:1.5vw;
	left:25vw;
}

.header5{
	width:100%;
	height:25vw;
	background:#6b20ac;
}

.header5Texta{
	position:absolute;
	color:#fff;
	font-size:3vw;
	margin-top:4.75vw;
	text-align:right;
	right:50vw;
	font-family: UnGraphicBold;
}

.header5Textb{
	position:absolute;
	color:#fff;
	font-size:1.4vw;
	margin-top:14vw;
	text-align:right;
	right:50vw;
	font-family: UnGraphic;
}

.logo3{
	position:absolute;
	width:8vw;
	height:18.962962962962962962962962962963vw;
	background-size: 100% 100%;
	background-image: url(logo3.png);
	margin-top:2.5vw;
	right:30vw;	
}

.header6{
	width:100%;
	height:25vw;
	background:#2e2c2c;
}

.header6Texta{
	position:absolute;
	color:#fff;
	font-size:3vw;
	margin-top:3.75vw;
	text-align:right;
	right:22vw;
	font-family: UnGraphicBold;
}

.header6Textb{
	position:absolute;
	color:#fff;
	font-size:1.35vw;
	margin-top:13vw;
	text-align:right;
	right:22vw;
	font-family: UnGraphic;
}

.logo4{
	position:absolute;
	width:16vw;
	height:16vw;
	background-size: 100% 100%;
	background-image: url(logo4.png);
	margin-top:4.25vw;
	left:26vw;	
}

.header7{
	width:100%;
	height:22vw;
	background:#ad1457;	
}

.header7Texta{
	position:absolute;
	color:#fff;
	font-size:3vw;
	margin-top:2.25vw;
	text-align:right;
	right:50vw;
	font-family: UnGraphicBold;
}

.header7Textb{
	position:absolute;
	color:#fff;
	font-size:1.5vw;
	margin-top:10.5vw;
	text-align:right;
	right:50vw;
	font-family: UnGraphic;
}

.logo5{
	position:absolute;
	width:14vw;
	height:14vw;
	background-size: 100% 100%;
	background-image: url(logo5.png);
	margin-top:2.5vw;
	right:30vw;
}


.header8{
	width:100%;
	height:25vw;
	background:#fff520;
}

.header8Texta{
	position:absolute;
	color:#000;
	font-size:3vw;
	margin-top:3.75vw;
	text-align:right;
	right:28vw;
	font-family: UnGraphicBold;
}

.header8Textb{
	position:absolute;
	color:#000;
	font-size:1.35vw;
	margin-top:13vw;
	text-align:right;
	right:28vw;
	font-family: UnGraphic;
}

.logo6{
	position:absolute;
	width:16vw;
	height:16vw;
	background-size: 100% 100%;
	background-image: url(logo6.png);
	margin-top:4.25vw;
	left:26vw;	
}

.header9{	
	width:100%;
	height:125.25vw;
	background-size: 100% 100%;
	background-image: url(decentralized.png);
}

.header9Texta{
	position:absolute;
	color:#fff;
	font-size:4.5vw;
	margin-top:8vw;
	left:23vw;
	font-family: UnGraphicBold;
}

.header9Textb{
	position:absolute;
	color:#fff;
	font-size:2.35vw;
	margin-top:16vw;
	left:27vw;
	font-family: UnGraphic;
}

.header10{
	width:100%;
	height:15vw;
	background:#ad1457;
}

.header11{
	width:100%;
	height:15vw;
	background:#fff520;
}

.logo9{
	position:absolute;
	width:22vw;
	height:13.9333vw;
	background-size: 100% 100%;
	background-image: url(logo9.png);
	margin-top:-4.5vw;
	right:5vw;
}

.logo10{
	position:absolute;
	width:80vw;
	height:26.36492221vw;
	background-size: 100% 100%;
	background-image: url(logo10.png);
	margin-top:38vw;
	left:10vw;	
}

.header12Texta{
	position:absolute;
	color:#fff;
	font-size:3vw;
	margin-top:3vw;
	left:13vw;
	font-family: UnGraphicBold;
}

.header12Textb{
	position:absolute;
	color:#fff;
	font-size:1.5vw;
	margin-top:16vw;
	left:13vw;
	font-family: UnGraphic;
}

.header12Textc{
	position:absolute;
	color:#fff;
	font-size:1.85vw;
	margin-top:30vw;
	left:13vw;
	font-family: UnGraphicBold;
}

.header12Textd{
	position:absolute;
	color:#fff;
	font-size:2.5vw;
	margin-top:10vw;
	left:52vw;
	font-family: UnGraphicBold;
}

.header12Texte{
	position:absolute;
	color:#fff;
	font-size:1.5vw;
	margin-top:24vw;
	left:52vw;
	font-family: UnGraphic;
}

.header12{
	width:100%;
	height:70vw;
	background:#6b20ac;
}

.logo7{
	position:absolute;
	width:14vw;
	height:27.870967742vw;
	background-size: 100% 100%;
	background-image: url(logo7.png);
	margin-top:4vw;
	left:0;
}

.logo8{
	position:absolute;
	width:12vw;
	height:18.73171vw;
	background-size: 100% 100%;
	background-image: url(logo8.png);
	margin-top:22vw;
	right:8vw;
}

.header13{
	width:100%;
	height:50vw;
	background:#2e2c2c;
}

.header13Texta{
	position:absolute;
	color:#fff;
	font-size:4.5vw;
	margin-top:4vw;
	left:23vw;
	font-family: UnGraphicBold;
}

.header13Textb{
	position:absolute;
	color:#fff;
	font-size:1.85vw;
	margin-top:16vw;
	left:23vw;
	font-family: UnGraphic;
}

#pointAnimation{
	z-index:-1;
	position:absolute;
}

.pointCanvas{
	width:100%;
	height:180vw;
}

.mapCanvas{
	width:50%;
	height:400px;
}

canvas{
	display:block;
}

